.invoice-cart {
  width: 100%;
  max-width: 418px;
  margin-left: auto;
  padding: 32px;
  background-color: $grey200;
  border-radius: 24px;

  @include mobile {
    padding: 24px;
  }

  &__title {
    font-size: 18px;
    line-height: 120%;
    font-weight: 500;
    margin: 0 0 20px;

    @include mobile {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }

  &__list {
    list-style: none;
    margin: 0 0 20px;
    padding: 0;

    @include mobile {
      margin-bottom: 16px;
    }
  }

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__item-name {
    font-size: 12px;
    line-height: 150%;
    color: $grey400;
  }

  &__item-divider {
    height: 8px;
    flex-grow: 1;
    margin: 0 10px;
    border-bottom: 1px dotted $grey400;
    min-width: 30px;
    margin-top: 5px;
  }

  &__price {
    font-size: 12px;
    line-height: 150%;
    color: $main-text;
    white-space: nowrap;
    flex-shrink: 0;
  }

  &__total {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 24px;
    line-height: 120%;
    font-weight: 500;
    margin: 0 0 20px;
    margin-top: -10px;

    @include mobile {
      margin-top: -8px;
      font-size: 18px;
    }

    & > span {
      margin-top: 10px;

      @include mobile {
        margin-top: 8px;
      }
    }
  }

  &__total-title {
    padding-right: 24px;
    flex-shrink: 0;
  }

  &__total-price {
    flex-shrink: 0;
    white-space: nowrap;
  }

  &__send {
    width: 100%;
  }

  &__policy {
    margin: 16px 0 0;
    font-size: 10px;
    line-height: 150%;
    color: $grey400;
    text-align: center;

    a {
      color: $primary;
      transition: color 0.2s;

      &:hover {
        color: $additional;
      }
    }
  }
}
