.button,
.button-secondary {
  @include h7;
  display: inline-block;
  padding: 13px 24px;
  background-color: $primary;
  border: none;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  transition: background-color 0.2s, color 0.2s;
  border-radius: 8px;
  outline: none;

  & * {
    vertical-align: middle;
  }

  svg {
    width: 24px;
    height: 24px;
  }

  svg + span {
    margin-left: 10px;
  }

  span + svg {
    margin-left: 10px;
  }

  @include mobile {
    font-size: 12px;
    line-height: 120%;
  }
}

.button {
  @include desktop-only {
    &:hover {
      cursor: pointer;
      background-color: $additional;
    }

    &:active {
      background-color: $additional;
    }
  }

  &:disabled,
  &.disabled {
    cursor: default;
    background-color: $grey300;
    pointer-events: none;
  }
}

.button-secondary {
  background-color: $grey200;
  color: $main-text;

  @include desktop-only {
    &:hover {
      cursor: pointer;
      background-color: $grey250;
    }

    &:active {
      background-color: $grey250;
    }
  }

  &:disabled,
  &.disabled {
    cursor: default;
    background-color: $grey200;
    color: $grey300;
    pointer-events: none;
  }
}

.button-arrow {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding: 0;
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  color: $primary;
  transition: color 0.2s;

  svg {
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }

  &:hover {
    cursor: pointer;

    color: $additional2;
  }

  &:active {
    color: $additional2;
  }
}

.button-icon {
  padding: 0;
  border: none;
  background-color: transparent;
  color: $grey400;
  font-size: 0;
  line-height: 0;
  transition: color 0.2s;

  svg {
    width: 24px;
    height: 24px;
  }

  &:hover {
    cursor: pointer;
    color: $main-text;
  }
}
